conda {
enabled=true
useMicromamba=true
createTimeout="1 h" 
}

env {
    CONDA_OVERRIDE_CUDA="12.4"
    PYTHONNOUSERSITE="1"
}

params {
    //general
    max_jobs=2
    cores=20

    //memory for bbmap (e.g. 200g)
    mem="400g"
    input="/path/to/illumina/fastq_{1,2}.gz"
    //input folder with ONT reads
    input_long_reads="path/to/ONT/folder"
    output="/path/to/output"

    //either remove host contamination(NCBI ID for the organism, e.g. NC_000913.2) or just select the taxa of interest
    host=null 
    filter_taxa_interest="2 2157" //e.g. this is bacteria and archaea, all the other taxa will be removed

    //parameters megahit assembly
    //select true (reads from all samples are pooled into a single assembly) or false (all samples are assembled indvidually and the downstream analysis as well) 
    coassembly=true
    assembly_mode="regular"
    min ="21"
    max="121"
    step="20"
    
    //Binning Illumina reads (SqueezeMeta pipeline). If the assembly workflow was used there is no need to change this. You can use an external assembly.
    assemb_in="${params.output}/01.Pre_processing/merged_reads"
    assemb="${params.output}/02.Assembly/*.fasta"
     
    //trimming tool min sequence length(bp)
    min_length="500"

    //assembler for ONT (flye, myloasm, metaMDBG)
    assembler="flye"

    //polishing ONT reads (racon max. is 4; medeka max is 1, if you do not want the polishing leave the values at 0)
    racon_rounds=0
    medaka_round=1

    //minimum contig length (bp) for bakta
    bakta_min_contig_length=1000

    //----------------------------------databases------------------------------------------------------------------    
    //squeezemeta database 
    database_dir="/path/to/database/database_squeezemeta"
    overwrite_database=false
    
    //database options
    //if a database below is missing, the run stops unless this is true
    download_databases=false
    blast_database="/path/to/database/NCBI_nt_core_XXXX.XX.XX"
    checkm_database="/path/to/database/checkm"
    eggnog_database="/path/to/database/eggnog"
    bakta_database="/path/to/database/bakta_X.X"
    platon_database="/path/to/database/platon"
    genomad_database="/path/to/database/genomad"
    kraken2_database="/path/to/database/Kraken2_core_nt_XXXX.XX.XX"
    gtdbtk_database="/path/to/database/GTDB_RXXX/releaseXXX"
    antismash_database="/path/to/database/antismash"


    //--------------------------DO NOT CHANGE---------------------------------------------------------------------
    //scripts location 
    py_script="${projectDir}/scripts/download_reference.py"
    sample_tests="${projectDir}/scripts/sample_tests.R"
    sample_squeezemeta="${projectDir}/scripts/sample_squeezemeta.sh"

    //binning
    test_id="${params.output}/01.Pre_processing/merged_reads/test.samples"

    help=false
}

executor {
    queueSize=params.max_jobs
}

process {
    cpus={Math.max(1,(params.cores/params.max_jobs) as int)}
    maxForks=params.max_jobs
}  



